<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://img.freepik.com/free-vector/cute-spider-with-net-cartoon-illustration-animal-nature-concept-isolated-flat-cartoon-style_138676-2730.jpg?w=900&t=st=1670310671~exp=1670311271~hmac=26d1834ccffa459dc363fa6a5fbb2fc63bf7849a1a370b2845653617678e6982"
    />
    <link rel="stylesheet" href="../static/css/logout.css" />
    <title>Mail You Price</title>
  </head>
  <body>
    <header>
      <div class="banner">
        <h1>能自動絕不手動</h1>
        <h2>這是你最後一次查詢價格</h2>
        <a href="" id="">了解更多</a>
      </div>
      <div id="memberContainer">
        <div class="memberShip">
          <div id="head">
            <h3 id="logIn">Log in</h3>
            <h3 id="signUp">Sign up</h3>
          </div>
          <form action="/member" method="post">
            <input
              id="nameInput"
              type="text"
              name="name"
              placeholder="Name"
            /><br />
            <input
              id="mailInput"
              type="email"
              placeholder="Email"
              name="mail"
              required
            /><br />
            <input
              id="passwordInput"
              type="password"
              placeholder="Password"
              name="password"
              required
            /><br />
            <button id="loginBtn" type="submit">Log in</button>
          </form>
          <p id="successMsg">{{successMsg}}</p>
        </div>
      </div>
    </header>
    <div class="advertisement">
      <div class="left">
        <h2>想撿便宜卻不想每天手動查價錢嗎?</h2>
        <p>勤儉持家的你必備好幫手!</p>
      </div>
      <img
        src="https://img.freepik.com/free-vector/illustration-search-box_53876-37578.jpg?w=1480&t=st=1670232240~exp=1670232840~hmac=1d323b687354b8f4f6922235ff92b22ff7129ab1ba371fd1616be9d190e6c918"
        alt=""
      />
    </div>
    <div class="feature">
      <div class="pchome">
        <img
          src="https://fs-d.ecimg.tw/css/2016/style/images/v201607/sitelogo/h24.png"
          alt="pchome logo"
        />
        <h3>支援PCHOME</h3>
      </div>
      <div>
        <img
          src="https://www.shutterstock.com/image-vector/flip-clock-twelve-o-cartoon-260nw-156597158.jpg"
          alt="12AM pic"
        />
        <h3>每天中午12點搜尋價格</h3>
      </div>
      <div>
        <img
          src="https://media.istockphoto.com/id/1358437984/vector/promotion-email-concept-isolated-cute-mail-cartoon-facewith-promotions-coupon-vector.jpg?s=612x612&w=0&k=20&c=GOAWod2eFq9CdTcXl9gMnhZvEvRY9_7XDCKKG2_C_IQ="
          alt="email pic"
        />
        <h3>發信通知</h3>
      </div>
    </div>
    <div class="instruction">
      <h2>三大步驟</h2>
      <div>
        <img
          src="https://pic.pimg.tw/v329852852/1670249813-349843651-g.png"
          alt="login"
        />
        <p>註冊帳號</p>
      </div>
      <div>
        <img
          src="https://pic.pimg.tw/v329852852/1670249820-3143474835-g_n.png"
          alt="memer system"
        />
        <p>登入想追蹤的商品網址</p>
      </div>
      <div>
        <img
          src="https://pic.pimg.tw/v329852852/1670249825-3094905614-g_n.png"
          alt="email"
        />
        <p>坐等系統發信!</p>
      </div>
    </div>
    <footer>
      <p>Copyright©2022 VictorChen All rights reserved</p>
      <p class="email">mrcrawler987@gmail.com</p>
    </footer>
    <script src="../static/js/logout.js"></script>
  </body>
</html>
