<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://img.freepik.com/free-vector/cute-spider-with-net-cartoon-illustration-animal-nature-concept-isolated-flat-cartoon-style_138676-2730.jpg?w=900&t=st=1670310671~exp=1670311271~hmac=26d1834ccffa459dc363fa6a5fbb2fc63bf7849a1a370b2845653617678e6982"
    />
    <title>Mail You Price</title>
    <link rel="stylesheet" href="../static/css/member.css" />
  </head>
  <body>
    <h1>Hi <span> {{name}}!</span><br /></h1>
    <h2 class="welcome">
      歡迎來到會員專區! <a id="logOutBtn" href="/logout">登出</a>
    </h2>
    <h1 id="productData">{{productData}}</h1>
    <h1 id="productName">{{productName}}</h1>
    <p id="error">{{error}}</p>
    <div id="trackContainer">
      <form action="/member.html" method="post">
        <input
          id="followInput"
          type="text"
          name="productSite"
          placeholder="輸入想追蹤的商品網址"
        />
        <button type="submit">新增</button>
      </form>
    </div>
    <form id="deleteForm" action="/delete.html" method="post">
      <input id="deleteInput" type="text" name="deleteItem" />
    </form>
    <h3>*Double click to delete</h3>
    <script
      src="https://kit.fontawesome.com/3b9660ae0a.js"
      crossorigin="anonymous"
    ></script>
    <script src="../static/js/member.js"></script>
  </body>
</html>
